body, input, textarea, select {
    font-family: "Montserrat", "Arial", "Sans-Serif";
}
body {
    width: 960px;
    margin: 10px auto;
}

div.header img {
    float: left;
    margin-right: 30px;
}
div.header h1 {
    padding-top: 50px;
}

div.main {
    clear: both;
    margin-top: 100px;
}

dt {
    font-weight: 600;
    margin: 20px 0;
    clear: both;
}

td {
    vertical-align: top;
    padding: 8px;
}

ul {
   margin: 0;
}

li {
   padding: 8px;
}

div.events {
    padding: 20px;
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
}

.new {
    color: #ff4040;
}
